<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/profile.php?id=61552007610576" "svg" "icons-facebook" "alt" "Leandra Mindfulness op Facebook") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/leandramindfulness/" "svg" "icons-instagram" "alt" "Leandra Mindfulness op Instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}
