{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image  "title" .Params.title) }}

{{ partial "text-and-image" (dict "heading" .Params.section1.heading "paragraph1" .Params.section1.paragraph1 "paragraph2" .Params.section1.paragraph2  "image" .Params.section1.image) }}

{{ partial "image-and-text" (dict "heading" .Params.section2.heading "paragraph1" .Params.section2.paragraph1 "paragraph2" .Params.section2.paragraph2 "paragraph3" .Params.section2.paragraph3  "image" .Params.section2.image) }}

{{ partial "bullets-and-image" (dict "heading" .Params.section3.heading "bullets" .Params.section3.bullets "image" .Params.section3.image) }}

{{ partial "image-and-bullets" (dict "heading" .Params.section4.heading "bullets" .Params.section4.bullets "image" .Params.section4.image) }}

{{ end }}
